body {
    overflow:hidden;
}

/* WEATHER WIDGET */

.weather-box {
    width: 100%;
    float:left;
    margin-bottom: -10px;
    margin-top: -10px;
}
.weather-box-small {
    float: left;
    font-size: 20px;
    margin: auto;
}

.weather-windbox {
    margin-top: 20px;
}

.wi-big {
    font-size: 120px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    width: 30%
}

.wi-small {
    font-size: 30px;
}

weather-h1 {
  float: left;
  font-size: 50px;
  font-weight: bold;
  width: 60%;
  margin-left: 20px;
}

/* SCHEDULE */

.schedule-bg {
    width: 100%;
    height: auto;
}

.schedule-event {
    background-color: rgba(255,255,255, 0.6);
    color: black;
    margin-bottom: 10px;
    padding: 2px;
}

/* NÅT ANNAT */

.header {
    float: left;
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
}

.container-fluid {
    background-image: url('../assets/images/bg.jpg');
    min-height: 1200px;
    color: white;
}

.rubrik {
    float: left;
}

.col-lg-4 {
    float: left;
    margin-bottom: -35px;
}

.col-lg-12, .col-lg-6 {
    background-color:rgba(0,0,0,0.2);
    padding: 15px !important;
}

.col-lg-6 {
    width: 47.4% !important;
}

.progress .bar.six-sec-ease-in-out {
    -webkit-transition: width 6s ease-in-out;
    -moz-transition: width 6s ease-in-out;
    -ms-transition: width 6s ease-in-out;
    -o-transition: width 6s ease-in-out;
    transition: width 6s ease-in-out;
}
.col-lg-2 {
    text-align: center;
}

.lampImages {
  position: relative;
}

.lampImage {
  width: 100%;
  position: absolute;
}

.lampText {
  margin-left: 350px;
  margin-top: 30px;
}
