<div ng-controller="ScheduleCtrl as scheduleCtrl">
    <div class="rubrik">
        <h1>Schema asdsdasdasad</h1><p>{{scheduleCtrl.kittiSchedule.summary}}, {{scheduleCtrl.toriSchedule.summary}}</p>
    </div>
    <div class="col-lg-6">
        <div class="schedule-bg">
            <div ng-repeat="event in scheduleCtrl.kittiSchedule.items">
                <div class="schedule-event">
                    {{}}
                    <b>{{event.start.dateTime | date:'H:mm'}} - {{event.end.dateTime | date:'H:mm'}}</b><br>
                    {{event.summary}}<br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6" style="float:right;">
        <div class="schedule-bg">
            <div ng-repeat="event in scheduleCtrl.toriSchedule.items">
                <div class="schedule-event">
                    {{}}
                    <b>{{event.start.dateTime | date:'H:mm'}} - {{event.end.dateTime | date:'H:mm'}}</b><br>
                    {{event.summary}}<br>
                </div>
            </div>
        </div>
    </div>
</div>