<div ng-controller="ScheduleCtrl as scheduleCtrl">
    <div class="rubrik">
        <h1>Schema</h1><p>Johan Kitti, Viktoria Grahn</p>
    </div>
    <div class="col-lg-12" style="height:252px">
      <div class="col-lg-6" style="padding:5px !important">
          <div class="schedule-bg">
              <div ng-repeat="event in scheduleCtrl.schedules[0].scheduleData.items | limitTo:4 | orderBy:'start.dateTime'">
                  <div class="schedule-event">
                      <b>{{event.start.dateTime | date:'H:mm'}} - {{event.end.dateTime | date:'H:mm'}}</b><br>
                      {{event.summary}}<br>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-lg-6" style="float:right;">
          <div class="schedule-bg">
              <div ng-repeat="event in scheduleCtrl.schedules[1].scheduleData.items | limitTo:4 | orderBy:'start.dateTime'">
                  <div class="schedule-event">
                      <b>{{event.start.dateTime | date:'H:mm'}} - {{event.end.dateTime | date:'H:mm'}}</b><br>
                      {{event.summary}}<br>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
